<div class="shape-container">
  <h2>Circle</h2>
  <div class="shape-content">
    <img src="assets/circle.svg" alt="Circle" class="shape-image" />
    <div class="shape-info">
      <p>
        A circle is a shape consisting of all points in a plane that are at a
        given distance from a given point, the center.
      </p>
      <p>Properties:</p>
      <ul>
        <li>Area = πr²</li>
        <li>Circumference = 2πr</li>
        <li>Where r is the radius of the circle</li>
      </ul>
    </div>
  </div>
</div>
